<%-include('header') -%>
    <div class="text-center center-div ">

        <div class="container w-50  py-5 mt-3">
            <h1 class="display-1 mb-3">404</h1>
            <h3>YOU SEEM LOST</h3>
            <!-- <h3>നിങ്ങൾ നഷ്ടപ്പെട്ടതായി തോന്നുന്നു</h3> -->
            <h4>The page you are trying to reach doesn't exist.</h4>
            <!-- <h4>നിങ്ങൾ എത്തിച്ചേരാൻ ശ്രമിക്കുന്ന പേജ് നിലവിലില്ല.</h4> -->
        </div>

    </div>

    <%-include('footer') -%>