<%-include('../partials/admin/logoOnlyHeader') -%>
    <body>
        <div class="text-center center-div my-5 py-5 ">
            <div class="container w-50  py-5 mt-5">
                <h1 class="display-1 my-5 fw-bold">404</h1>
                <h1> YOU SEEM LOST</h1>
                <h4 class="mt-4">(admin)The page you are trying to reach doesn't exist.</h4>
                <a href="/admin/login"><button class="btn m-5 w-25  btn-dark rounded-pill">Home</button></a>

            </div>

        </div>
    </body>


    <%-include('../partials/admin/footer') -%>
