<%- include('../partials/users/header') -%>

    <body class=" bg-success bg-opacity-10">
        <header>
            <div class="title pb-5 border border-bottom" style="height: 60px;">
                <a href="/" class="text-decoration-none">
                    <h2 class="font-weight-bold ms-5 logo">Luxe Scents</h2>
                </a>
            </div>
        </header>
        <div class="text-center pt-5 pb-3" id="login">
            <!-- <% if(locals.logout){ %> -->
            <!-- <h5 class=" text-primary text-center fw-bold"> -->
            <!-- <%= logout %> -->
            <!-- </h5> -->
            <!-- <% } %> -->
            <h5 class="text-success text-center fw-bold" id="logout">
                <span></span>
            </h5>
            <h5 class="text-success text-center fw-bold" id="newuser">
                <span></span>
            </h5>
            <div class="container w-25  rounded pt-5 mb-5">
                <div class="title pb-5">
                    <h3 class="fw-semibold">Sign in</h3>
                </div>
                <div class="title pb-4 ">
                    <a href="">

                        <button class="font-weight-bold btn rounded-pill border border-2 w-100 text-dark">
                            <img src="img/googleLogo.png" alt="" height="22">
                            Sign in with Google
                        </button></a>
                </div>
                <div class="d-flex align-items-center">
                    <hr class="flex-grow-1">
                    <span class="mx-2">or sign in with email</span>
                    <hr class="flex-grow-1">
                </div>

                <form action="/login" method="post">
                    <label for="" class="float-start fw-semibold pt-3">Email</label>
                    <div class="form-group">
                        <input type="email" class="form-control mb-3" value="faisalt661@gmail.com" name="email"
                            required>
                    </div>
                    <div class="pt-3">
                        <label for="" class="float-start fw-semibold ">Password</label>
                        <a href="/forgotPassword"><span class="float-end text-decoration-underline text-black">Forgot
                                password ?</span></a>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" value="1234567q" name="password" required>
                    </div>
                    <% if(locals.message && message.length>0 ) {%>
                        <div class="alert alert-danger text-center mt-2">
                            <%= message %>
                        </div>
                        <% } %>
                            <div class="text-warning text-center mt-2" id="msg">
                                <span></span>
                            </div>
                            <button type="submit" class="btn btn-dark rounded-pill w-100">Sign In</button>
                </form>
                <div class="mb-5 mt-4">
                    Don't have an account ? <a href="/signup" class=" text-black">Sign up</a>
                </div>
            </div>
        </div>
        <script>
            const url = window.location.search.substring(1)
            console.log(url)
            if (url === 'invalid') {
                const spanMsg = document.getElementById('msg').querySelector('span');
                spanMsg.innerText = "Invalid Username and Password";
            } else if (url === 'logout') {
                const spanMsg = document.getElementById('logout').querySelector('span');
                spanMsg.innerText = "Logout successfully";
            }
            else if (url === 'newuser') {
                const spanMsg = document.getElementById('newuser').querySelector('span');
                spanMsg.innerText = "User registered successfully now login with your account ";
            }

        </script>


        <%- include('../partials/users/userFooter') -%>