<%-include('header') -%>


    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h3 class="text-uppercase text-center text-primary mb-5">Register Now</h3>

                                <form action="/register_new" method="post" id="add-form" enctype="multipart/form-data">

                                    <div class="mb-3">
                                        <label for="name">&nbsp;&nbsp;Name</label>
                                        <input type="text" name="name" id="" class="form-control form-control-lg"
                                            placeholder="Name"  required/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email">&nbsp;&nbsp;E-mail</label>
                                        <input type="email" name="email" id="" class="form-control form-control-lg"
                                            placeholder="Email" required />
                                    </div>
                                    <!-- -->
                                    <div class="mb-3">
                                        <label for="phone">&nbsp;&nbsp;Phone</label>
                                        <input type="tel" name="phone" id="" class="form-control form-control-lg"
                                            placeholder="Phone" pattern="[0-9]{10}"  required />
                                    </div>

                                    <div class="mb-3">
                                        <label for="image" class="form-label ">&nbsp;&nbsp;Select Image</label>
                                        <input type="file" name="image" id="" class="form-control form-control-lg"
                                            required />
                                    </div>
                                    <div class="mb-3">
                                        <label for="password">&nbsp;&nbsp;Password</label>
                                        <input type="password" name="password" id=""
                                            class="form-control form-control-lg" placeholder="Password" required />
                                    </div>
                                    <div class="mb-3 d-grid">
                                        <input type="submit" name="submit" value="Add User"
                                            class="btn btn-primary btn-lg" required />
                                    </div>
                                    <div class="mb-1 text-center">
                                        Already have an account?<a href="/" class=" text-decoration-none"> Log in</a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <%-include('footer') -%>