<%-include('../partials/users/header') -%>
    <body>
        <header>
            <div class="title pb-5 border border-bottom" style="height: 60px;">
                <h1 class="font-weight-bold text-center logo">Luxe Scents</h1>
            </div>
        </header>
        <div class="text-center pt-4" id="login">
            <div class="container w-25  rounded pt-5 ">
                <div class="title pb-4">
                    <h3 class="fw-semibold">Sign Up</h3>
                </div>


                <form action="/register_new" method="post">
                    <div class="form-group">
                        <label for="" class="float-start fw-semibold pt-2">Username</label>
                        <input type="text" class="form-control mb-1" name="username" required>
                    </div>
                    <div class="text-danger mb-1" id="usertTaken">
                        <span ></span>
                    </div>

                    <div class="form-group">
                        <label for="" class="float-start fw-semibold pt-2">Email</label>
                        <input type="text" class="form-control mb-1" name="email" required>
                    </div>
                    <div class="text-danger text-center mt-2" id="emailTaken">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="" class="float-start fw-semibold pt-2">Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="text-warning text-center mt-2" id="weakPass">
                        <span></span>
                    </div>


                 
                    <button type="submit" class="btn btn-dark rounded-pill w-100">Sign Up</button>
                </form>
                <div class="d-flex align-items-center pt-4">
                    <hr class="flex-grow-1">
                    <span class="mx-5"> or </span>
                    <hr class="flex-grow-1">
                </div>
                <div class="title py-2">
                    <a href="">
                        <button class="font-weight-bold btn rounded-pill border border-2 w-100">
                            <img src="assets/images/googleLogo.png" alt="" height="22">
                            Sign in with Google
                        </button></a>
                </div>


                <div class="mt-4">
                    Already have an account ? <a href="/" class=" text-black">Sign In</a>
                </div>

            </div>
        </div>
        <script>

            const url = window.location.search.substring(1)
            console.log(url)
            if (url === 'usertTaken') {
                const spanMsg = document.getElementById('usertTaken').querySelector('span');
                spanMsg.innerText = "username already taken";
            } else if (url === 'emailTaken') {
                const spanMsg = document.getElementById('emailTaken').querySelector('span');
                spanMsg.innerText = "email already taken";
            }
            else if (url === 'weakPass') {
                const spanMsg = document.getElementById('weakPass').querySelector('span');
                spanMsg.innerText = "Entered password is too weak \n Password must be atleast 4 characters \n Add alphanumerical and symbols ";
            }
        </script>


<%-include('../partials/users/footer') -%>